<!DOCTYPE html>
<html>
<head>
    <title>Daftar Semua Pengaduan</title>
    <a href="{% url 'pengaduan-tambah' %}">[+] Buat Pengaduan Baru</a>
    <hr>
</head>
<body>
    <h1>Daftar Semua Pengaduan Warga</h1>
    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>Judul Pengaduan</th>
                <th>Status</th>
                <th>Tanggal</th>
                <th>Nama Pelapor</th>
            </tr>
        </thead>
        <tbody>
            {% for aduan in object_list %}
            <tr>
                <td>{{ aduan.judul }}</td>
                <td>{{ aduan.get_status_display }}</td>
                <td>{{ aduan.tanggal_lapor|date:"d M Y" }}</td>
                <td>{{ aduan.pelapor.nama_lengkap }}</td>
                <td>
                    <a href="{% url 'pengaduan-edit' aduan.pk %}">Edit</a> |
                    <a href="{% url 'pengaduan-hapus' aduan.pk %}">Hapus</a>
                </td>
            </tr>
            {% empty %}
            {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="{% url 'warga-list' %}">Kembali ke Daftar Warga</a>
</body>
</html>